:root {
    --secondary-color: #adadad;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
    /* I haven't figured out where the offending element is, hack it for now */
    overflow: auto;
}

body {
    color: #475058;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;
}

.small {
    font-size: 85%;
}

/* responsive view */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container h2,
    footer h2 {
        padding-left: 2.25rem;
    }

    .container h2:before,
    footer h2:before {
        left: 1rem;
    }

    ul {
        padding-left: 2rem;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* tablets (portrait and landscape) ----------- */
@media only screen and (max-width: 1023px) {
}

/* Tablets and potentially laptops */
@media screen and (max-device-width: 1024px) {
}

/* larger laptops and iPad Pro */
@media only screen and (min-device-width: 1300px) {
}

/* large screens */
@media only screen and (min-width: 1301px) {
}

@media only screen and (min-width: 1440px) {
}

/* 4k */
@media only screen and (min-width: 2560px) {
}

/* tablets (landscape) ----------- */
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* tablets (portrait) ----------- */
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

img {
    max-width: 100%;
}

footer {
    color: #d1d1d1;
    border-top: 0.1rem solid #f4f5f6;
    margin-top: 6rem;
    font-size: 1.5rem;
    text-align: center;
    background: #000;
    padding: 3rem 0;
}

footer .row .column {
    text-align: left;
    padding: 0;
}

footer .row .column a,
footer .row .column span {
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
}

footer .row:nth-child(2) span {
    padding-top: 1rem;
    color: #777;
}

footer .row .column a.logo {
    background: url(../../static/images/redHatLogo.png) no-repeat;
    background-size: 144px 34px;
    height: 34px;
    top: auto;
    width: 144px;
    margin: 0;
}

/* Footer ends */

@import "layout.css";
@import "card.css";
@import "video-playlist.css";
@import "navigation.css";
@import "quote.css";
