.navigation--primary,
footer nav .row {
    padding: 0;
}

/* Wrapper ends */ /* NAV Starts */
header {
    background-color: #f8f8f8;
    box-shadow: 0 1px 5px 5px var(--secondary-color);
}

.navigation {
    grid-template-columns: minmax(0, auto);
    display: grid;
    grid-column-gap: 1rem;
}

.navigation a.navigation-item--active {
    text-decoration: underline;
}

.navigation h1 {
    display: inline-block;
    margin: 0 -0.5rem 0 0;
    border-right: 1px solid #dedede;
    color: #475058;
    font-weight: 800;
    font-family: "Overpass", sans-serif;
    letter-spacing: -0.1rem;
}

.navigation a,
.navigation .logo {
    display: inline-block;
}

.navigation a {
    font-weight: 800;
    color: #475058;
    text-transform: uppercase;
    line-height: 1.0;
    text-decoration: none;
    padding: 0.2rem .54rem;
}

.navigation .logo {
    width: 60px;
    height: 60px;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 0 7px #f8f8f8;
    border-radius: 100%;
    border-bottom: 2px solid #ddd;
    background-image: url("../../static/images/kie_logo.png");
    vertical-align: bottom;
    justify-self: right;
    top: 1rem;
    z-index: 2;
}

.navigation .responsive-menu-button {
    position: absolute;
    right: 0;
    display: none;
}

.navigation--primary {
    align-self: end;
}

.navigation--secondary {
    background-color: lightgray;
    border-top: 3px solid var(--secondary-color);
    align-items: center;
    grid-column: 1/3;
    text-align: center;
}

.navigation--secondary a {
    text-decoration: none;
    padding: 0 1rem;
    font-weight: unset;
    color: unset;
    text-transform: unset;
    line-height: unset;
    height: unset;
    display: inline;
}

.navigation-item--active {
    text-decoration: underline;
}

/* NAV Ends */ /* Responsive Menu Starts */
.navigation--responsive {
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 3;
    top: 0;
    right: -320px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-left: 2px solid #5f5f5f;
    transition: right 0.5s;
    transform: rotate3d(0, 0, 0, 0deg);
    padding: 10px 20px 0;
}

.navigation--responsive .close-button {
    display: block;
    text-align: right;
    right: 0;
    position: relative;
    text-decoration: none;
}

.navigation--responsive .close-button + h4 {
    margin-top: 10px;
    outline: none;
}

.navigation--responsive ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #475058;
}

.navigation--responsive ul ul {
    padding-left: 2.5rem;
}

.navigation--responsive ul li {
    margin: 0;
    padding: 5px 0;
}

.navigation--responsive h4,
.navigation--responsive li a {
    color: #475058;
    font-family: "Overpass", sans-serif;
}

.navigation--responsive li a {
    font-size: 16px;
    font-weight: 700;
}

.navigation--responsive h4 {
    font-size: 1.8rem;
    font-weight: 800;
    border-bottom: 1px solid #d1d7dc;
    padding-bottom: 15px;
    margin: 20px 0 7px;
    text-transform: uppercase;
}

.responsive-menu-opened {
    overflow: hidden;
}

.responsive-menu-opened nav,
.responsive-menu-opened .footer,
.responsive-menu-opened .main {
    filter: blur(1px);
}

.responsive-menu-opened #overlay {
    opacity: 1;
}

.responsive-menu-opened .navigation--responsive {
    right: 0;
}
