.video-playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.video-playlist--wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-playlist--wrapper iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .container--front-video .video-playlist--wrapper {
        grid-row-start: 2;
    }
    .container--front-video .front-video-text {
        grid-row-start: 1;
    }

    .container--front-video {
        grid-template-columns: unset;
    }
}
